/* CSS declarations go here */
@import 'scssLibs/normalize/normalize';
@import 'scssLibs/bourbon/bourbon';
@import 'scssLibs/neat/neat';

body {
    padding:10px;
}

.disabled {
   pointer-events: none;
   opacity: .1;
   cursor: default;
}